BasedOnStyle: Microsoft
Standard: c++17
UseCRLF: false
UseTab: ForContinuationAndIndentation
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
IndentAccessModifiers: false

AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignTrailingComments: false
AllowShortLambdasOnASingleLine: Inline
IncludeBlocks: Preserve
IndentCaseLabels: false	
IndentExternBlock: Indent
PointerAlignment: Right
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
