Standard: c++17
BreakBeforeBraces: Linux
IndentWidth: 4
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
ColumnLimit: 0
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: AfterColon
IncludeBlocks: Preserve
PointerAlignment: Right
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false